@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --color-main: #505050;
  --color-sub: #0D96A0;
}

/* ----------
base
---------- */
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  color: var(--color-main);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: calc(14 / 14);
  letter-spacing: 0;
}

#container {
  width: 100%;
  overflow: hidden;
}

/* ----------
common
---------- */
/* PC、SPの非表示 */  
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

.main {
  margin-top: 50px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 880px;
  margin-inline: auto;
}

.background-color-sub {
  background: rgba(13, 150, 160, 0.1);
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title h2::before {
  content:url("../img/common/footprint_single.svg");
  display: block;
  width: 2.55rem;
  height: 2.5rem;
  margin-right: 2rem;
}

.section-title h2::after {
  content:url("../img/common/footprint_single.svg");
  display: block;
  width: 2.55rem;
  height: 2.5rem;
  margin-left: 2rem;
}

/* ----------
header
---------- */
.header {
  width: 100%;
  height: 5rem;
  background: #fff;
  padding-inline: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
@media (max-width: 767px) {
  .header {
    padding-inline: 2rem;
  }
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  height: 5rem;
  display: flex;
  align-items: center;
  transition: opacity 0.4s;
}

@media (min-width: 768px) and (any-hover: hover) {
  .header a:hover {
    opacity: 0.7;
  }
}

.header__logo h1 a {
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  font-weight: 700;
}
@media (max-width: 767px) {
  .header__logo h1 a {
    font-size: 2rem;
    line-height: calc(33 / 20);
  }
}

.header__logo h1 a::before {
  content:url("../img/common/footprint_single.svg");
  display: block;
  width: 2.55rem;
  height: 2.5rem;
  margin-right: 0.95rem;
}

.header__nav ul {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.header__nav ul li a {
  line-height: calc(14 / 14);
  font-weight: 700;
}

/* ----------
fv
---------- */
.fv {
  position: relative;
}

.fv__image img {
  aspect-ratio: 1080 / 500;
  object-fit: cover;
}
@media (max-width: 767px) {
  .fv__image img {
    aspect-ratio: 375 / 550;
  }
}

.fv__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fv__catch {
  position: absolute;
  bottom: 27.6%;
  width: 49.2rem;
  height: 21rem;
  background: rgb(255, 255, 255, 0.7);
  padding: 2.3rem 3.5rem 2.3rem 9.9rem;
}
@media (max-width: 1000px) {
  .fv__catch {
    width: calc(492 / 1080 * 100%);
    height: calc(210 / 500 * 100%);
    padding: calc(23 / 1080 * 100%) calc(35 / 1080 * 100%) calc(23 / 1080 * 100%) calc(99 / 1080 * 100%);
  }
}
@media (max-width: 767px) {
  .fv__catch {
    bottom: 0;
    width: calc(311 / 375 * 100%);
    height: calc(148 / 550 * 100%);    
    padding: calc(18 / 375 * 100%) calc(23 / 375 * 100%) calc(14 / 375 * 100%) calc(20 / 375 * 100%);
  }
}

.fv__catch h2 .small-font {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .fv__catch h2 .small-font {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .fv__catch h2 .small-font {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  .fv__catch h2 .small-font {
    font-size: 2.75rem;
  }
}
@media (max-width: 500px) {
  .fv__catch h2 .small-font {
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  .fv__catch h2 .small-font {
    font-size: 2rem;
  }
}
@media(max-width: 374px) {
  .fv__catch h2 .small-font {
    font-size: 1.75rem;
  }
}

.fv__catch h2 .large-font {
  display: block;
  font-size: 4rem;
  line-height: calc(60 / 40);
  font-weight: 700;
  margin-top: 1.4rem;
  color: var(--color-sub);
}
@media (max-width: 1000px) {
  .fv__catch h2 .large-font {
    font-size: 3.2rem;
  }
}
@media (max-width: 900px) {
  .fv__catch h2 .large-font {
    font-size: 2.8rem;
  }
}
@media(max-width: 767px) {
  .fv__catch h2 .large-font {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .fv__catch h2 .large-font {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  .fv__catch h2 .large-font {
    font-size: 3rem;
    margin-top: 0.7rem;
  }
}
@media(max-width: 374px) {
  .fv__catch h2 .large-font {
    font-size: 2.5rem;
  }
}

/* ----------
about
---------- */
.about {
  padding: 60px;
}
@media (max-width: 767px) {
  .about {
    padding: 49px 20px 39px;
  }
}

.about__title {
  font-size: 3rem;
  line-height: calc(50 / 30);
  font-weight: 700;
  color: var(--color-sub);
  text-align: center;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 2.5rem;
    line-height: calc(35 / 25);
  }
}

.about__text {
  position: relative;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: calc(33 / 16); 
  text-align: center;
}
@media (max-width: 767px) {
  .about__text {
    font-size: 1.6rem;
    line-height: calc(28 / 16);
    text-align: left;
  }
}

.about__text__image {
  position: absolute;
  bottom: -2.6rem;
  right: -2.38rem;
  width: 8.38rem;
  height: 7.71rem;
}
@media (max-width: 767px) {
  .about__text__image {
    bottom: 0.96rem;
    right: 0.76rem;
    width: 6.83rem;
    height: 6.29rem;
  }
}

/* ----------
features        
---------- */
.features {
  padding: 64px 100px 68px;
}
@media (max-width: 767px) {
  .features {
    padding: 51px 20px 35px;  
  }
}

.features__contents {
  margin-top: 4.2rem;
}

.features__items {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
@media (max-width: 767px) {
  .features__items {
    row-gap: 4.2rem;
  }
}

.features-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 4.5rem;
}
@media (max-width: 767px) {
  .features-item {
    flex-direction: column-reverse;
    row-gap: 2.6rem;
  }
}

.features__item-reverse-pc {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .features__item-reverse-pc {
    flex-direction: column-reverse;
  }
} 

.features-item__image {
  width: calc(440 / 880 * 100%);
}
@media (max-width: 767px) {
  .features-item__image {
    width: 100%;
  }
} 

.features-item__image img {
  aspect-ratio: 440 / 247;
  object-fit: cover;
}
@media (max-width: 767px) {
  .features-item__image img {
    aspect-ratio: 335 / 200;
  }
}

.features-item__textarea {
  width: calc(396 / 880 * 100%);
  display: flex;
  flex-direction: column;
  row-gap: 1.9rem;
}
@media (max-width: 767px) {
  .features-item__textarea {
    width: 100%;
  row-gap: 0.8rem;
  }
} 

.features-item__textarea h3 {
  font-size: 2.2rem;
  line-height: calc(33 / 22);
  font-weight: 700;
}
@media (max-width: 767px) {
  .features-item__textarea h3 {
    font-size: 2rem;
    line-height: calc(30 / 20);
    text-align: center;
  }
}

@media (max-width: 767px) {
  .features-item__textarea h3 span {
    display: inline-block;
  }
}

.features-item__textarea p {
  font-size: 1.8rem;
  line-height: calc(33 / 18);
}
@media (max-width: 767px) {
  .features-item__textarea p {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }
}

/* ----------
service
---------- */
.service {
  padding: 6.3rem 10rem 5.9rem;
}
@media (max-width: 767px) {
  .service {
    padding: 4.5rem 2rem 3.9rem;
  }
}

.service__contents {
  margin-top: 4.8rem;
}
@media (max-width: 767px) {
  .service__contents {
    margin-top: 4.4rem;
  }
}

.service__items {
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;
}
@media (max-width: 767px) {
  .service__items {
    flex-direction: column;
    row-gap: 3.9rem;
  }
}

.service-item__image img {
  aspect-ratio: 260 / 200;
  object-fit: cover;
}
@media (max-width: 767px) {
  .service-item__image img {
    aspect-ratio: 335 / 200;
  }
}

.service-item__textarea {
  margin-top: 1.9rem;
}
@media (max-width: 767px) {
  .service-item__textarea {
    margin-top: 3rem;
  }
}

.service-item__textarea h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(25 / 20);
  text-align: center;
}

.service-item__textarea p {
  margin-top: 0.8rem;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
}
@media (max-width: 767px) {
  .service-item__textarea p {
    margin-top: 0.7rem;
  }
}